/* 主页index.html样式 */

/* 顶部导航条样式 */
.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}
/* 设置超链接颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: #fff;
}
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}
/* 设置左右侧导航栏 */
.service,.topbar li{
    float: left;
}
.shop-cart,.user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
/* 小三角 */
.app{
    position: relative;
}
.app-wrapper:hover > .app::after{
    display: block;
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    bottom: 8px;
    left: 20px;
    right: 0;
   
}

/* 设置app下拉 */
.app .qrcode{
    /* display: none; */
    position: absolute;
    left: -25px;
    width: 124px;
    /* height: 148px; */
    height: 0px;
    overflow: hidden;
    line-height: 1px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
   transition: height .3s;
   z-index: 99;
}
.app-wrapper:hover >.app .qrcode
{
    display: block;
    height: 148px;
}
.app .qrcode img{
    width: 90px;
    margin: 17px 10px 17px 17px;
}
.app .qrcode span{
    font-size: 14px;
    color: #000;
}
/* 设置购物车样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}
.shop-cart:hover .cart-wrapper{
    display: block;
    height: 100px;
}
.shop-cart i{
    margin-left: 2px;
}
.shop-cart .cart-wrapper{
    /* display: none; */
    float: left;
    width: 318px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .3);
    margin-left: -198px;
    transition: height .3s;
}



/* 创建中间header */
.header{
    height: 100px;
  
}
.header-wrapper{
    position: relative;
}
.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    /* 隐藏logo中的文字 */
    font-size: 0;
}
.header .logo a{
   position: absolute;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url(../img/milogo.png);
    background-position: center;
    left: 0;
    transition: left 0.3s;
}
.header .logo .home{
    left: -55px;
    background-image: url(../img/home.png);
}
.header .logo:hover .mi{
    left: 55px;
}
.header .logo:hover .home{
    left:0;
}

/* 设置中间导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}
.nav > li{
    float: left;
}
.all-goods-wrapper{
    position: relative;
}
/* 设置左侧导航条位置 */
.left-menu{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 999;
    left: -120px;
    line-height: 1;
}
ul.left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}
ul.left-menu li a:hover{
    color: #fff;
    background-color: #ff6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}
.nav-wrapper li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}
.all-goods{
    visibility: hidden;
}
.nav .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    
    position: absolute;
    top: 100px;
    left: 0px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
    transition: height .3s;
    z-index: 9999;
}
.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    background-color: #fff;
    border-top: 1px solid rgb(224, 224 , 224);
}
/* 搜索框 */
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    
    margin-top: 25px;
}
.search-wrapper .search-inp{
    width: 222px;
    border: none;
    float: left;
    padding: 0;
    height: 49px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgb(224, 224 , 224);
    outline: none;
}
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus+button{
    border: 1px solid #ff6700;
}

.search-wrapper .search-btn{
    float: left;
    height: 51px;
    width: 52px;
    padding: 0;
    border: none;
    border: 1px solid rgb(224, 224 , 224);
    border-left: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
}
.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    border: none;
}
/* 设置banner */
.banner{
    height: 460px;
    position: relative;
}
.banner .img-list li{
    position: absolute;
} 
.banner img{
    width: 100%;
    vertical-align: top;
}
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px rgba(255, 255, 255, .4) solid;
    border-radius: 50%;
    background-color: rgba(0, 0 , 0, .4);
    margin-left: 6px;
}
.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0 , 0, .4);
    background-color:rgba(255, 255, 255, .4) ;
}
/* 设置两个箭头 */
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/雪碧图.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}
.prev-next .prev:hover{
    background-position: 0 0;
}
.prev-next .next{
    right:0;
    background-position: -125px 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}
/* 回到顶部的条 */
.back-top{
    width: 26px;
    height: 206px;
    background-color: #fff;
    position: fixed;
    bottom: 60px;
    right: 50%;
    margin-right: -639px;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .4);
}
/* 设置广告区域 */
.ad{
    height: 170px;
    margin-top: 14px;
}
.ad .shortcut,
.ad .ad-img,
.ad li{
    float: left;
}

.ad .shortcut{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top:2px ;
    padding-left: 6px;
}
.ad .shortcut li{
    position: relative;
}
.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
}
.ad .shortcut li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}
.ad .shortcut a{
    display: block;
    height: 84px;
    width: 76px;
    color: #cfccca;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.ad .shortcut a:hover{
    color: #fff;
}
.ad .shortcut a i{
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 20px;
}
.ad .ad-img li{
    width: 314px;
    margin-right:15px;
}
.ad .ad-img li:last-child{
    margin: 0;
}
.ad .ad-img img{
    width: 100%;
}